/*about me page*/

/* .aboutMe-container {
  background-color: #040105;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.spiderman {
  width: 30vw;
} */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

.aboutMe-container {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  /* background-image: url(../img/spidey.png); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.356)), url(../img/spidey.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 30%; */

  display: flex;
  justify-content: flex-start;
  /* justify-content: space-around; */
}

/* swinging spiderman */
figure {
  margin-top: 0px;
}

figure img {
  width: 50%;
  /* margin-left: 30%; */
  -webkit-filter: drop-shadow(5px 5px 5px rgb(114, 114, 114, 0.603));
  filter: drop-shadow(7px 8px 8px rgba(114, 114, 114, 0.603));
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
}

.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  /* left: 50%; */
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}



/* card */
.gameCard {
  /* width: 250px;
  height: 330px; */
  width: 30vw;
  height: 25vw;
  margin: 3vw;
  /* background-color: rgb(255, 255, 255); */
  /* border: 2px solid #a30505; */
  border-radius: 30px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}


.gameCard:hover {
  /* transform: scale(0.95, 0.95);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22); */
  transform: scale(0.95, 0.95);
  box-shadow: 5px 5px 30px 15px #a3050579,
    -5px -5px 30px 15px #a3050542;
}

.cardBody {
  box-sizing: border-box;
  /* background-color: #040105; */
  /* background-color: #ffffff; */
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  /* color: rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
  font-family: "Press Start 2P", sans-serif;
  /* height: 100vh; */
  width: 30vw;
  height: 25vw;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

#a {
  /* color: rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
}

#h1 {
  line-height: 1.4;
}

.btn {
  border: 0;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(255, 255, 255);
  color: #a30506;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 10px;
}

.btn:hover {
  /* opacity: 0.9; */
  /* transform: scale(1.1, 1.1); */
  /* border: 2px solid #000000;
  background-color: #FFFF; */
  border: 2px solid #ffffff;
  background-color: rgb(0, 0, 0);
}

.btn:focus {
  outline: none;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
  width: 100vw; */
  width: 30vw;
  height: 25vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -25vw;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: rgb(0, 0, 0);
  /* border: 2px solid rgb(0, 0, 0); */
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  transition: 0.4s;
}

.choose-insect-btn:hover {
  color: #a30506;
  /* background-color: rgba(0, 17, 255, 0.438); */
  transform: scale(0.95, 0.95);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

/* .choiseOne img {
  width: 100px;
  height: 100px;
  object-fit: contain;
} */

.choiseOne img {
  width: 6.5vw;
  height: 6.5vw;
  object-fit: contain;
}

.choiseTwo img {
  width: 8vw;
  height: 8vw;
  object-fit: contain;
}

/* .choiseTwo img {
  width: 125px;
  height: 125px;
  object-fit: contain;
} */

.game-container {
  position: relative;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.time,
.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  /* width: 100%; */
  /* padding: 20px; */
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  /* left: 50%; */
  transform: translate(-50%, -150%);
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.insect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.insect img {
  /* width: 100px;
  height: 100px; */
  width: 6.5vw;
  height: 6.5vw;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}