/*Games page*/

.games-container {
  background-color: rgb(27, 27, 27);
  background-image: url("../img/LTbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

/* big screen */
@media screen and (min-width: 1000px) {
  #games {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    /* margin: 30px auto; */
    /* width: 350px;
    height: 650px; */
    width: 350px;
    height: 650px;
  }
}

/* end big screen */

/* medium screen */
@media screen and (max-width: 999px) {
  #games {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    /* margin: 30px auto; */
    width: 220px;
    height: 450px;
  }
}

/* end medium Screen */

/* small screen */
@media screen and (max-width: 699px) {
  #games {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    /* margin: 30px auto; */
    width: 200px;
    height: 250px;
  }
}

/* end small Screen */

/* small 2.0 screen */
@media screen and (max-width: 599px) {
  #games {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .card {
    /* margin: 30px auto; */
    width: 200px;
    height: 210px;
  }
}

/* end small 2.0 Screen */

/* smaller screen */
@media screen and (max-width: 399px) {
  #games {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .card {
    /* margin: 30px auto; */
    width: 300px;
    height: 190px;
  }
}

/* end smaller screen */

/* #games {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* CARD */

.card {
  margin: 30px auto;
  /* width: 350px;
  height: 650px; */
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card-image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card-image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 40px;
}


.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}


/* @media all and (max-width: 500px) {
  .card { */
/* On small screens, we are no longer using row direction but column */
/* flex-direction: column;
  }
} */

.one {}

.two {}

.three {}

/* CARD */