html, body {
    box-sizing: content-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Amatic SC', cursive;
}

.arrowBack {
    position: relative;
}

#up {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 15px;
    position: fixed;
    display: none;
    cursor: pointer;
}

/**
*
    BIG SCREEN
*
*/
@media screen and (min-width: 750px) {
    #up {
        width: 3vw;
    }

    #jobTitle {
        font-size: 80px;
    }

    #year {
        font-size: 60px;
    }

    .logo img {
        width: 90px;
    }

    #firstName {
        font-size: 46px;
    }

    #lastName {
        font-size: 32px;
    }

    #bigScreenFoto {
        display: block;
        width: 65vw;
    }

    #smallScreenFoto {
        display: none;
    }

    #sideNavigation {
        display: none !important;
    }

    .navbar a {
    font-size: 2.5vw;
    }
}

/**
*
    END OF BIG SCREEN
*
*/

/**
*
    MEDIUM SCREEN ONE
*
*/
@media screen and (max-width: 1040px) {
    .navbar a {
        font-size: 3vw;
    }
}

/**
*
    END OF MEDIUM SCREEN ONE
*
*/

/**
*
    MEDIUM SCREEN
*
*/
@media screen and (max-width: 749px) {
    #up {
        width: 6vw;
    }

    #jobTitle {
        /* font-size: 40px; */
        font-size: 10vw;
    }

    #year {
        /* font-size: 30px; */
        font-size: 8vw;
    }

    .logo img {
        /* width: 45px; */
        width: 16vw;
    }

    #firstName {
        /* font-size: 24px; */
        font-size: 8vw;
    }

    #lastName {
        /* font-size: 16px; */
        font-size: 6vw;
    }

    #bigScreenFoto {
        display: none;
    }

    #smallScreenFoto {
        display: block;
        width: 60vw;
        /* width: 60%; */
    }

    .navbar {
        display: none !important;
    }
}

/**
*
    END OF MEDIUM SCREEN
*
*/

/**
*
    SMALL SCREEN
*
*/
@media screen and (max-width: 450px) {
    #up {
        width: 9vw;
    }

    #bigScreenFoto {
        display: none;
    }

    #smallScreenFoto {
        display: block;
        width: 100vw;
        /* width: 60%; */
    }
}

/**
*
    END OF SMALL SCREEN
*
*/

.home-container {
    background-color: #040105;
    width: 100%;
    height: 100vh;
    display: flex;

}

.itemOne {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
}

.logo {
    justify-content: flex-start;
    padding: 20px;
}

.name {
    margin-top: 20px;
    justify-content: flex-start;
}

#firstName {
    color: rgb(240, 240, 240);
    font-family: 'Amatic SC', cursive;
    font-weight: 550;
    /* font-size: 46px; */
    white-space: nowrap;
}

#lastName {
    color: rgba(201, 201, 201, 0.801);
    font-family: 'Amatic SC', cursive;
    /* font-size: 32px; */
}

/* Navbar */

.navbar {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    left: 0;
    top: 0;
    right: 0;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
}

.navbar a {
    float: right;
    color: #a30506;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-align: center;
    padding: 50px 25px;
    text-decoration: none;



    /* animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */

}

/* 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
} */

.navbar a:hover {
    background-color: transparent;
    color: rgb(224, 224, 224);
    /* font-size: 60px; */
    /* -webkit-box-shadow: 0px 18px 12px 5px rgba(255, 255, 255, 0.63);  */
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/*Navbar*/

/*Sidenav*/

#sideNavigation {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.openNav {
    /* color: #a30506;   */
    color: rgb(219, 219, 219);
    font-size: 40px;
    font-weight: 50;
    cursor: pointer;
    padding: 20px;
}

.openNav:hover {
    color: white;
}

.closebtn {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.329);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #a00c0c;
    font-weight: 700;
    display: block;
    text-align: center;
    transition: 0.2s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 80px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*Sidenav*/

.itemTwo {
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
}

#jobTitle {
    color: rgb(240, 240, 240);
    font-family: 'Amatic SC', cursive;
    /* font-size: 80px; */
    /* font-size: 6vw; */
}

/* #first-letter {
    font-size: 130px;
    font-size: 160%;
} */

#year {
    color: rgb(240, 240, 240);
    font-family: 'Amatic SC', cursive;
    /* font-size: 60px; */
    /* font-size: 4vw; */
}

#myFoto {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
    left: 0;
    right: 0;
}