html, body {
    /* height: 100%; */
    margin: 0;
}

.container {
    background-color: #121212;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 50%;
    height: 100vh;
    grid-template-rows: 20% 30% 50%;
    grid-template-areas:
        "logo txt . . "
        " . . . . "
        " . . . img ";
}

.logo {
    grid-area: logo;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.name {
    grid-area: txt;
    margin-top: 20px;
}

#firstName {
    color: rgb(240, 240, 240);
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

#lastName {
    color: rgb(201, 201, 201);
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}

#myFoto {
    grid-area: img;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#myFoto img {
    width: 80%;
}